*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}


/* HEADER */

header{
    background-color: #F2F8F3;
}

.nav-links{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 14px;
}

.menu-lists{
    display: flex;
    align-items: center;
    gap: 1em;
}

.menu-lists li a{
    text-decoration: none;
    color: #000000;
    font-size: 1em;
}

.btn-icons{
    display: flex;
    align-items: center;
    gap: 1em;
}

.signin{
    text-decoration: none;
    border: 1px solid #122231;
    color: #122231;
    font-size: 1em;
    font-weight: 400;
    padding: 12px 12px;
    border-radius: 10px;
}

.create{
    text-decoration: none;
    background-color: #122231;
    color: #FFFFFF;
    padding: 12px 14px;
    font-size: 1em;
    font-weight:500;
    border-radius: 10px;
}

.fa-bars{
    text-decoration: none;
    color: #122231;
    font-size: 1.6em;
    visibility: hidden;
}
/* HEADER MEDIA QUERY */

@media(max-width: 1167px){
    .nav-links{
        width: 100%;
        justify-content: space-between;
    }
}

@media(max-width: 966px){
    .nav-links{
        padding: 20px 26px;
    }
    .menu-lists{
        display: none;
    }

    .signin{
        display: none;
    }

    .create{
        display: none;
    }

    .fa-bars{
        visibility: visible;
    }
}


/* HERO_SECTION */

.hero-sect{
    background-color: #F2F8F3;
}

.hero{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    padding: 120px 0 80px 0;
}
.hero-left{
    width: 36%;
    /* padding: 0 80px; */
}

.hero-text{
    color: #000000;
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 20px;
}

.hero-text span{
    color: #10B259;
}

.hero-left p{
    font-size: 1em;
}

.download{
    display: flex;
    gap: 1em;
}

.download img{
    border-radius: 4px;
}



.hero-image {
    position: relative;
    /* opacity: 0; */
    /* transform: translateY(-30px); */
    animation: bounceIn 5s ease infinite;
}

@keyframes bounceIn {
  0% {
    /* opacity: 0; */
    transform: translateY(0px);
  }
  60% {
    /* opacity: 1; */
    transform: translateY(15px);
  }
  80% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}


.hero-dollar{
    position: absolute;
    top: 120px;
    left: -40px;
}

.hero-bill1{
    position: absolute;
    top: 120px;
    right: -40px;
}

.hero-bill2{
    position: absolute;
    top: 320px;
    left: -50px;
}

.hero-business{
    position: absolute;
    top: 300px;
    right: -50px;
}

.hero-gift{
    position: absolute;
    top: 480px;
    left: 40%;
}
/* HERO-SECT MEDI QUERY */

@media(max-width: 1290px){
    .hero{
        width: 100%;
        justify-content: space-between;
        padding: 80px 40px;
    }
}

@media(max-width: 1000px){
    .hero{
        width: 80%;
        flex-direction: column;
        text-align: center;
        gap: 3em;
    }

    .download{
        justify-content: center;
    }
    .hero-left{
        width: 100%;
    }

    .hero-dollar{
        top: 160px;
        left: 10px;
    }

    .hero-bill1{
        top: 160px;
        right: 10px;
    }

    .hero-bill2{
        top: 340px;
        left: 10px;
    }

    .hero-business{
        top: 330px;
        right: 10px;
    }
}

@media(max-width: 762px){
    .hero{
        width: 100%;
    }

    .hero-text{
        font-size: 2.6em;
    }
    .hero-people{
        width: 400px;
    }

     .hero-dollar{
        top: 140px;
        left: 60px;
    }

    .hero-bill1{
        top: 140px;
        right: 60px;
    }

    .hero-bill2{
        top: 280px;
        left: 60px;
    }

    .hero-business{
        top: 280px;
        right: 60px;
    }

    .hero-gift{
        top: 370px;
    }
}

@media(max-width: 650px){
     .hero-dollar{
        top: 140px;
        left: 20px;
    }

    .hero-bill1{
        top: 140px;
        right: 20px;
    }

    .hero-bill2{
        top: 280px;
        left: 20px;
    }

    .hero-business{
        top: 280px;
        right: 20px;
    }
}

@media(max-width: 540px){
    .hero-dollar{
        top: 140px;
        left: -20px;
    }

    .hero-bill1{
        top: 140px;
        right: -20px;
    }

    .hero-bill2{
        top: 280px;
        left: -20px;
    }

    .hero-business{
        top: 280px;
        right: -20px;
    }

    .hero-gift{
        left: 30%;
    }
}
@media(max-width: 500px){
    .hero-left p{
        font-size: 14px;
    }

    .download{
        align-items: center;
        flex-direction: column;
    }
    .hero-people{
        width: 350px;
    }

    .hero-dollar{
        top: 120px;
    }

    .hero-bill1{
        top: 120px;
        right: -20px;
    }

    .hero-bill2{
        top: 230px;
        left: -20px;
    }

    .hero-business{
        top: 230px;
        right: -20px;
    }
    .hero-gift{
        top: 320px;
    }

}

@media(max-width: 412px){
    .hero-people{
        width: 300px;
    }
    .hero-dollar{
        top: 100px;
    }
    .hero-bill1{
        top: 100px;
    }
    .hero-bill2{
        top: 190px;
    }
    .hero-business{
        top: 190px;
    }
    .hero-gift{
        top: 270px;
    }
}

@media(max-width: 370px){
    .hero-people{
        width: 250px;
    }
    .hero-cards img{
        width: 110px;
    }
    .hero-dollar{
        top: 80px;
    }
    .hero-bill1{
        top: 80px;
    }
    .hero-bill2{
        top: 140px;
    }
    .hero-business{
        top: 140px;
    }
    .hero-gift{
        top: 230px;
    }
}



/* SECT_TWO */

.sect-2{
    background-color: #F2F8F3;
}

.join{
    border: 2px solid blue;
    width: 80%;
    margin: auto;
    padding: 70px 0;
}

.join-text{
    width: 50%;
    margin: auto;
    text-align: center;
    color: #000000;
}

.join-text h2{
    font-size: 2.4em;
    font-weight: 600;
    margin-bottom: 20px;
}

.join-text p{
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 50px;
}

.join-text p span{
    color: #10B259;
}

/* JOIN-TEXT-MEDIA QUERY */

@media(max-width: 1353px){
    .join-text{
        width: 60%;
    }
}

@media(max-width: 1130px){
    .join-text{
        width: 80%;
    }
}

@media(max-width: 990px){
    .join{
        width: 90%;
    }
}

@media(max-width: 755px){
    .join-text{
        width: 90%;
    }

    .join-text h2{
        font-size: 2em;
    }
    .join-text p{
        font-size: .8em;
    }
}

@media(max-width: 540px){
    .join{
        width: 100%;
        padding: 70px 20px;
    }
    .join-text{
        width: 100%;
    }

    .join-text h2{
        font-size: 1.6em;
    }
}
.assets{
    display: flex;
    border-top: 1px solid #57ac80;
}

.asset{
    flex: 1;
    padding: 30px 30px 10px 30px;
    text-align: center;
}
.asset + .asset{
  border-left: 1px solid #57ac80;
}


.asset h2{
    color: #000000;
    font-weight: 480;
    font-size: 2.6em;
}

.asset p{
    color: #000000;
    font-size: 1em;
    font-weight: 600;
}

/* ASSETS-MEDIA-QUERY */
@media(max-width: 755px){
    .assets{
        flex-direction: column;
        border-top: none;
    }

    .asset + .asset{
        border-left: none;
        border-top: 1px solid #57ac80;
    }
}



/* SECT-THREE */

.sect-3{
    background-color: #F2F8F3;
    padding: 40px 0;
    border: 2px solid red;
}

.virtual{
    border: 2px solid green;
    width: 60%;
    margin: auto;
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    gap: 1em;
}

.virtual-card{
    border: 3px solid blue;
    width: 350px;
}

.green-card{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}



/* SECT-4 */

.sect-4{
    background-color: #FFFFFF;
    padding: 100px 0;
}

.vibrant-text{
    width: 24%;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
}

.vibrant-card{
    width: 70%;
    margin: auto;
    background-color: #10B259;
    padding: 40px 70px 40px 70px;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    height: 520px;
}

.community-text{
    margin: 40px 0;
    color: white;
    max-width: 50%;
    z-index: 99;
}

.community-text h1{
    font-size: 1.8em;
    font-weight: 600;
}

.community-text p{
    max-width: 58%;
    margin: 20px 0 80px 0;
    font-size: 1em;
}

.visit-link{
    color: white;
    text-decoration: none;
}

.vibrant-image{
    /* position: absolute; */
    /* right: 120px; */
    /* bottom: 0; */
    /* height: 80%; */
    transform: translate(-5%, 10%);
    z-index: 1;
}


/* MEDIA-QUERY */

@media(max-width: 1205px){
    .vibrant-card{
        width: 90%;
        height: 500px;
    }

    .community-text p{
        max-width: 100%;
        margin: 20px 0 120px 0;
    }

    .vibrant-image{
       transform: translate(5%, 4%);
    }

    .vibrant-image img{
        width: 330px;
    }
}

@media(max-width: 990px){
    .vibrant-card{
        padding: 40px 80px 30px 30px;
        min-height: 450px;
    }
    .community-text{
        max-width: 48%;
    }

    .community-text h1{
    font-size: 1.6em;
    }
}

@media(max-width: 800px){
    .vibrant-card{
        padding: 20px 50px 30px 30px;
    }

    .vibrant-image{
        transform: translate(5%, 10%);
    }
    .vibrant-image img{
        width: 314px;
    }
}

@media(max-width: 770px){
    .vibrant-card{
        width: 96%;
        padding: 10px 20px 10px 20px;
        flex-direction: column;
        text-align: center;
        height: 650px;
    }

    .community-text{
        max-width: 100%;
    }

    .community-text p{
        max-width: 100%;
        margin-bottom: 30px;
    }

    .vibrant-image{
        transform: translate(5%, 0);
    }
}