*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}

/* HEADER */

header{
    background-color: #F2F8F3;
}

.nav-links{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 14px;
}

.menu-lists{
    display: flex;
    align-items: center;
    gap: 1em;
}

.menu-lists li a{
    text-decoration: none;
    color: #000000;
    font-size: 1em;
}

.btn-icons{
    display: flex;
    align-items: center;
    gap: 1em;
}

.signin{
    text-decoration: none;
    border: 1px solid #122231;
    color: #122231;
    font-size: 1em;
    font-weight: 400;
    padding: 12px 12px;
    border-radius: 10px;
}

.create{
    text-decoration: none;
    background-color: #122231;
    color: #FFFFFF;
    padding: 12px 14px;
    font-size: 1em;
    font-weight:500;
    border-radius: 10px;
}

.fa-bars{
    text-decoration: none;
    color: #122231;
    font-size: 1.6em;
    visibility: hidden;
}

.product, .company, .resources{
    position: relative;
}

.product-drop{
    position: absolute;
    left: -240px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 230px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    z-index: 999;
    padding: 10px 10px 10px 30px;
    visibility: hidden;
}

.product-drop li, .company-drop li, .resources-drop li{
    padding: 10px 10px 0 10px;
}
.product-drop li a span, .company-drop li a span, .resources-drop li a span{
    font-weight: 600;
}

.product-drop li p, .company-drop li p, .resources-drop li p{
    color: #2c2a2a;
    font-size: .8em;
}

.product-drop li:hover, .company-drop li:hover, .resources-drop li:hover{
    background-color: #F8F8F8;
}

.product:hover .product-drop{
    visibility: visible;
}

.company-drop{
    position: absolute;
    left: -200px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 230px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    z-index: 999;
    padding: 10px 10px 10px 30px;
    visibility: hidden;
}

.company:hover .company-drop{
    visibility: visible;
}

.resources-drop{
    position: absolute;
    left: -310px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 230px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    z-index: 999;
    padding: 10px 10px 10px 30px;
    visibility: hidden;
}

.resources:hover .resources-drop{
    visibility: visible;
}
/* HEADER MEDIA QUERY */

@media(max-width: 1167px){
    .nav-links{
        width: 100%;
        justify-content: space-between;
    }
}

@media(max-width: 966px){
    .nav-links{
        padding: 20px 26px;
    }
    .menu-lists{
        display: none;
    }

    .signin{
        display: none;
    }

    .create{
        display: none;
    }

    .fa-bars{
        visibility: visible;
    }
}


/* HERO_SECTION */

.hero-sect{
    background-color: #F2F8F3;
}

.hero{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    padding: 120px 0 80px 0;
}
.hero-left{
    width: 36%;
    /* padding: 0 80px; */
}

.hero-text{
    color: #000000;
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 20px;
}

.hero-text span{
    color: #10B259;
}

.hero-left p{
    font-size: 1em;
}

.download{
    display: flex;
    gap: 1em;
}

.download img{
    border-radius: 4px;
}



.hero-image {
    position: relative;
    /* opacity: 0; */
    /* transform: translateY(-30px); */
    animation: bounceIn 5s ease infinite;
}

@keyframes bounceIn {
  0% {
    /* opacity: 0; */
    transform: translateY(0px);
  }
  60% {
    /* opacity: 1; */
    transform: translateY(15px);
  }
  80% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}


.hero-dollar{
    position: absolute;
    top: 120px;
    left: -40px;
}

.hero-bill1{
    position: absolute;
    top: 120px;
    right: -40px;
}

.hero-bill2{
    position: absolute;
    top: 320px;
    left: -50px;
}

.hero-business{
    position: absolute;
    top: 300px;
    right: -50px;
}

.hero-gift{
    position: absolute;
    top: 480px;
    left: 40%;
}
/* HERO-SECT MEDI QUERY */

@media(max-width: 1290px){
    .hero{
        width: 100%;
        justify-content: space-between;
        padding: 80px 40px;
    }
}

@media(max-width: 1000px){
    .hero{
        width: 80%;
        flex-direction: column;
        text-align: center;
        gap: 3em;
    }

    .download{
        justify-content: center;
    }
    .hero-left{
        width: 100%;
    }

    .hero-dollar{
        top: 160px;
        left: 10px;
    }

    .hero-bill1{
        top: 160px;
        right: 10px;
    }

    .hero-bill2{
        top: 340px;
        left: 10px;
    }

    .hero-business{
        top: 330px;
        right: 10px;
    }
}

@media(max-width: 762px){
    .hero{
        width: 100%;
    }

    .hero-text{
        font-size: 2.6em;
    }
    .hero-people{
        width: 400px;
    }

     .hero-dollar{
        top: 140px;
        left: 60px;
    }

    .hero-bill1{
        top: 140px;
        right: 60px;
    }

    .hero-bill2{
        top: 280px;
        left: 60px;
    }

    .hero-business{
        top: 280px;
        right: 60px;
    }

    .hero-gift{
        top: 370px;
    }
}

@media(max-width: 650px){
     .hero-dollar{
        top: 140px;
        left: 20px;
    }

    .hero-bill1{
        top: 140px;
        right: 20px;
    }

    .hero-bill2{
        top: 280px;
        left: 20px;
    }

    .hero-business{
        top: 280px;
        right: 20px;
    }
}

@media(max-width: 540px){
    .hero-dollar{
        top: 140px;
        left: -20px;
    }

    .hero-bill1{
        top: 140px;
        right: -20px;
    }

    .hero-bill2{
        top: 280px;
        left: -20px;
    }

    .hero-business{
        top: 280px;
        right: -20px;
    }

    .hero-gift{
        left: 30%;
    }
}
@media(max-width: 500px){
    .hero-left p{
        font-size: 14px;
    }

    .download{
        align-items: center;
        flex-direction: column;
    }
    .hero-people{
        width: 350px;
    }

    .hero-dollar{
        top: 120px;
    }

    .hero-bill1{
        top: 120px;
        right: -20px;
    }

    .hero-bill2{
        top: 230px;
        left: -20px;
    }

    .hero-business{
        top: 230px;
        right: -20px;
    }
    .hero-gift{
        top: 320px;
    }

}

@media(max-width: 412px){
    .hero-people{
        width: 300px;
    }
    .hero-dollar{
        top: 100px;
    }
    .hero-bill1{
        top: 100px;
    }
    .hero-bill2{
        top: 190px;
    }
    .hero-business{
        top: 190px;
    }
    .hero-gift{
        top: 270px;
    }
}

@media(max-width: 370px){
    .hero-people{
        width: 250px;
    }
    .hero-cards img{
        width: 110px;
    }
    .hero-dollar{
        top: 80px;
    }
    .hero-bill1{
        top: 80px;
    }
    .hero-bill2{
        top: 140px;
    }
    .hero-business{
        top: 140px;
    }
    .hero-gift{
        top: 230px;
    }
}



/* SECT_TWO */

.sect-2{
    background-color: #F2F8F3;
}

.join{
    width: 80%;
    margin: auto;
    padding: 70px 0;
}

.join-text{
    width: 50%;
    margin: auto;
    text-align: center;
    color: #000000;
}

.join-text h2{
    font-size: 2.4em;
    font-weight: 600;
    margin-bottom: 20px;
}

.join-text p{
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 50px;
}

.join-text p span{
    color: #10B259;
}

/* JOIN-TEXT-MEDIA QUERY */

@media(max-width: 1353px){
    .join-text{
        width: 60%;
    }
}

@media(max-width: 1130px){
    .join-text{
        width: 80%;
    }
}

@media(max-width: 990px){
    .join{
        width: 90%;
    }
}

@media(max-width: 755px){
    .join-text{
        width: 90%;
    }

    .join-text h2{
        font-size: 2em;
    }
    .join-text p{
        font-size: .8em;
    }
}

@media(max-width: 540px){
    .join{
        width: 100%;
        padding: 70px 20px;
    }
    .join-text{
        width: 100%;
    }

    .join-text h2{
        font-size: 1.6em;
    }
}
.assets{
    display: flex;
    border-top: 1px solid #57ac80;
}

.asset{
    flex: 1;
    padding: 30px 30px 10px 30px;
    text-align: center;
}
.asset + .asset{
  border-left: 1px solid #57ac80;
}


.asset h2{
    color: #000000;
    font-weight: 480;
    font-size: 2.6em;
}

.asset p{
    color: #000000;
    font-size: 1em;
    font-weight: 600;
}

/* ASSETS-MEDIA-QUERY */
@media(max-width: 755px){
    .assets{
        flex-direction: column;
        border-top: none;
    }

    .asset + .asset{
        border-left: none;
        border-top: 1px solid #57ac80;
    }
}



/* SECT-THREE */

.sect-3{
    background-color: #f2f8f3;
    padding: 30px 0;
}
.virtual-wrap {
  max-width: 80%;
  margin: 50px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 470px);
  justify-content: center;
  gap: 24px;
}

.virtual {
  border-radius: 16px;
  padding: 25px 25px 30px 25px;
  background-color: #fff;
  box-shadow: 0 3px 8px rgba(0,0,0,0.05);
  /* border: 2px solid red; */
  /* width: 480px; */
  max-height: 310px;
}

.text-virtual {
  background-color: #f1f7f4;
  box-shadow: none;
  padding: 30px;
 text-align: center;
}

.text-virtual h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #111;
   width: 80%;
   margin: 20px auto;
}

.text-virtual p {
  font-size: 1rem;
  color: #333;
  width: 60%;
  margin: auto;
}

.green-virtual{
  background-color: #2ecc71;
  color: #fff;
  display: flex;
  justify-content: space-between;
  gap: .4em;
  overflow: hidden;
}

.green-text h2{
    font-size: 1.6em;
    color: #FFFFFF;
    font-weight: 600;
}

.green-text p{
    color: #FFFFFF;
    font-size: .9em;
}

.green-text a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: .9em;
    font-weight: 500;
}

.green-text a:hover{
    text-decoration: underline;
}
.green-image img{
  max-width: 140px;
  border-radius: 12px;
  margin-top: 10px;
  /* border: 2px solid red; */
  transform: translateY(20%);
}

.blue-virtual{
  color: #fff;
  display: flex;
  justify-content: space-between;
  gap: .4em;
  overflow: hidden;
}
.blue-textone h2{
  color: #3296FF;
  font-size: 1.6em;
  font-weight: 600;
}

.virtual-links{
  margin-top: 20%;
}
.blue-textone a{
  color: #3296FF;
  text-decoration: none;
  font-size: .9em;
    font-weight: 500;
}
.blue-textone p{
  color: #333;
  font-size: .9em;
}
.blue-imgone img, .pink-img img, .purple-img img, .blue-imgtwo img{
  max-width: 160px;
  border-radius: 12px;
  margin-top: 10px;
  /* border: 2px solid red; */
  opacity: 0;
  transform: translateX(60px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.blue-virtual:hover{
   transition: background-color 0.3s ease;
   background-color: #3296FF;
}

.blue-virtual:hover .blue-textone h2{
  color: #ffff;
}

.blue-virtual:hover .blue-textone a{
  color: #ffff;
}

.blue-textone a:hover{
  text-decoration: underline;
}
.blue-virtual:hover .blue-textone p{
  color: #ffff;
}

.blue-virtual:hover .blue-imgone img{
   opacity: 1;
  transform: translateX(0) translateY(20%);
}


.pink-virtual{
  color: #fff;
  display: flex;
  justify-content: space-between;
  gap: .4em;
  overflow: hidden;
}

.pink-text h2{
  color: #EB008B;
  font-size: 1.6em;
  font-weight: 600;
}

.virtual-links{
  margin-top: 20%;
}
.pink-text a {
  color: #EB008B;
  font-size: .9em;
    font-weight: 500;
    text-decoration: none;
}
.pink-text p{
  color: #333;
  font-size: .9em;
}
.pink-virtual:hover{
   transition: background-color 0.3s ease;
   background-color: #FF0083;
}

.pink-virtual:hover .pink-text h2{
  color: #fff;
}

.pink-virtual:hover .pink-text a{
  color: #fff;
}

.pink-text a:hover{
  text-decoration: underline;
}
.pink-virtual:hover .pink-text p{
  color: #ffff;
}

.pink-virtual:hover .pink-img img{
   opacity: 1;
  transform: translateX(0) translateY(20%);
}


.purple-virtual{
  color: #fff;
  display: flex;
  justify-content: space-between;
  gap: .4em;
  overflow: hidden;
}

.purple-text h2{
  color: #7200F9;
  font-size: 1.6em;
  font-weight: 600;
}

.virtual-links{
  margin-top: 20%;
}
.purple-text a {
  color: #7200F9;
  text-decoration: none;
  font-size: .9em;
    font-weight: 500;
}
.purple-text p{
  color: #333;
  font-size: .9em;
}
.purple-virtual:hover{
   transition: background-color 0.3s ease;
   background-color: #7200F9;
}

.purple-virtual:hover .purple-text h2{
  color: #fff;
}

.purple-virtual:hover .purple-text a{
  color: #fff;
}

.purple-text a:hover{
  text-decoration: underline;
}
.purple-virtual:hover .purple-text p{
  color: #ffff;
}

.purple-virtual:hover .purple-img img{
   opacity: 1;
  transform: translateX(0) translateY(20%);
}

.blue-virtualtwo{
  color: #fff;
  display: flex;
  justify-content: space-between;
  gap: .4em;
  overflow: hidden;
}

.blue-text h2{
  color: #0055FF;
  font-size: 1.6em;
  font-weight: 600;
}

.virtual-links{
  margin-top: 20%;
}
.blue-text a {
  color: #0055FF;
  text-decoration: none;
  font-size: .9em;
    font-weight: 500;
}
.blue-text p{
  color: #333;
  font-size: .9em;
}
.blue-virtualtwo:hover{
   transition: background-color 0.3s ease;
   background-color: #0055FF;
}

.blue-virtualtwo:hover .blue-text h2{
  color: #fff;
}

.blue-virtualtwo:hover .blue-text a{
  color: #fff;
}

.blue-text a:hover{
    text-decoration: underline;
}
.blue-virtualtwo:hover .blue-text p{
  color: #ffff;
}

.blue-virtualtwo:hover .blue-imgtwo img{
   opacity: 1;
  transform: translateX(0) translateY(20%);
}


/* SECT-3-MEDiA-QUERY */
@media (max-width: 1008px) {
  

  /* .virtual{
    max-height: 390px;
  } */
}

@media(max-width: 978px){
    .virtual-wrap {
    max-width: 100%;
    /* border: 2px solid black; */
    padding: 30px 10px;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media(max-width: 500px){

  .blue-imgone img, .pink-img img, .purple-img img, .blue-imgtwo img, .green-image img{
    max-width: 100px;
    transform: translateX(10%);
    transform: translateY(50%);
  }

  .blue-virtual:hover.blue-imgone img, .pink-virtual:hover .pink-img img, .purple-virtual:hover .purple-img img, .blue-virtualtwo:hover .blue-imgtwo img{
    transform: translateX(10px);
    transform: translateY(50%);
  }

}

@media(max-width: 400px){
    .virtual{
        padding: 25px 10px 30px 10px;
    }

    .green-text h2, .blue-textone h2, .pink-text h2, .purple-text h2, .blue-text h2{
    font-size: 1.2em;
  }
    .green-text p, .blue-textone p, .pink-text p, .purple-text p, .blue-text p{
    font-size: .8em;
  }

  .blue-imgone img, .pink-img img, .purple-img img, .blue-imgtwo img, .green-image img{
    max-width: 80px;
    transform: translateX(10%);
    transform: translateY(80%);
  }

  .blue-virtual:hover.blue-imgone img, .pink-virtual:hover .pink-img img, .purple-virtual:hover .purple-img img, .blue-virtualtwo:hover .blue-imgtwo img{
    transform: translateX(10%);
    transform: translateY(80%);
  }
}



/* SECT-FOUR*/

.sect-4{
    background-color: #FFFFFF;
    padding: 100px 0;
}

.vibrant-text{
    width: 32%;
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
}

.vibrant-text h1{
    color: #000000;
    font-weight: 600;
}
.vibrant-card{
    width: 70%;
    margin: auto;
    background-color: #10B259;
    padding: 30px 70px 20px 70px;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    height: 480px;
}

.community-text{
    margin: 40px 0;
    color: white;
    max-width: 50%;
    z-index: 99;
}

.community-text h1{
    font-size: 1.8em;
    font-weight: 600;
}

.community-text p{
    max-width: 58%;
    margin: 20px 0 60px 0;
    font-size: 1em;
}

.visit-link{
    color: white;
    text-decoration: none;
}

.vibrant-image{
    transform: translate(-5%, 5%);
    z-index: 1;
}


/* VIBRANT-MEDIA-QUERY */

@media(max-width: 1205px){
    .vibrant-text{
        width: 56%;
    }
    .vibrant-card{
        width: 90%;
        height: 460px;
    }

    .community-text p{
        max-width: 100%;
        margin: 20px 0 120px 0;
    }

    .vibrant-image{
       transform: translate(5%, 0%);
    }

    .vibrant-image img{
        width: 330px;
    }
}

@media(max-width: 990px){
    .vibrant-text{
        width: 76%;
    }
    .vibrant-text h1{
         font-size: 2em;
    }
    .vibrant-card{
        padding: 40px 80px 30px 30px;
        min-height: 410px;
    }
    .community-text{
        max-width: 48%;
    }

    .community-text h1{
    font-size: 1.6em;
    }
}

@media(max-width: 800px){
    .vibrant-card{
        padding: 20px 50px 30px 30px;
    }

    .vibrant-image{
        transform: translate(5%, 10%);
    }
    .vibrant-image img{
        width: 314px;
    }
}

@media(max-width: 770px){
    .sect-4{
        padding: 100px 20px;
    }

    .vibrant-text h1{
        font-size: 1.8em;
    }

    .vibrant-card{
        width: 100%;
        padding: 10px 20px 10px 20px;
        flex-direction: column;
        text-align: center;
        height: 680px;
    }

    .community-text{
        max-width: 100%;
    }

    .community-text h1{
        font-size: 1.4em;
        font-weight: 550;
    }
    .community-text p{
        max-width: 90%;
        margin-bottom: 30px;
        font-size: 14px;
    }

    .visit-link{
        font-size: 14px;
    }
    .vibrant-image{
        transform: translate(5%, 4%);
    }

    .vibrant-image img{
        width: 300px;
    }
}

@media(max-width: 600px){
    .vibrant-text{
        width: 96%;
    }
    .vibrant-text h1{
        font-size: 1.6em;
    }
    .vibrant-card{
        height: 720px;
    }
    .vibrant-image{
        transform: translate(0%, 2%);
    }
}

@media(max-width: 451px){
    .sect-4{
        padding: 100px 10px;
    }
    .vibrant-text p{
        font-size: .8em;
    }
    .vibrant-card{
        padding: 10px 14px 10px 14px;
    }
    .community-text p{
        max-width: 100%;
    }
    .vibrant-image{
        transform: translate(0%, 12%);
    }
    .vibrant-image img{
        width: 260px;
    }
}

@media(max-width: 375px){
    .vibrant-image{
        transform: translate(0%, 2%);
    }
}




/* SECT-5 */

.sect-5{
    /* border: 2px solid black; */
    padding: 40px 0;
    background-color: #FFFFFF;
}

.meet-head{
    /* border: 2px solid red; */
    width: 50%;
    margin: auto;
    text-align: center;
    margin-bottom:40px;
}

.meet-head h2{
    font-size: 2.2em;
    font-weight: 550;
    margin-bottom: 10px;
}

.meet-head p{
    /* color: #13181e; */
    font-size: 1em;
}
.meet-users{
    /* border: 2px solid red; */
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 1em;
}


.meet-user{
    border: 1px solid #cecbcb;
    position: relative;
    padding: 16px;
    min-height: 430px;
    border-radius: 16px;
}
.meet-youtube{
    width: 100%;
    margin-bottom: 10px;
}

.meet-youtube iframe{
    width: 100%;
    border-radius: 8px;
}


.meet-text h4{
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 6px;
}

.meet-text span{
    color: #ACA5A4;
}

.meet-text p{
    font-size: 12px;
    color: #242c37;
    margin-top: 20px;
}
.meet-links{
    position: absolute;
    bottom: 10px;
    border: thin solid #ACA5A4;
    width: 90%;
    text-align: center;
    padding: 10px 0;
    border-radius: 20px;
}

.watch-video{
    text-decoration: none;
    font-size: .8em;
    color: #242930;
}


/* MEDIA-QUERY */

@media(max-width: 1350px){
    .meet-head{
        width: 60%;
    }
    .meet-users{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 985px){
    .meet-users{
        width: 90%;
    }
}

@media(max-width: 795px){
    .meet-head{
        width: 80%;
    }

    .meet-head h2{
        font-size: 2em;
    }
}
@media(max-width: 700px){
    .meet-users{
        width: 96%;
        grid-template-columns: repeat(1, 1fr);
    }
    .meet-user{
        min-height: 450px;
    }
}

@media(max-width: 510px){
    .meet-head{
        width: 96%;
    }

    .meet-head h2{
        font-size: 1.8em;
    }
}
@media(max-width: 407px){
    .meet-head h2{
        font-size: 1.6em;
    }
}
/* SECT-6 */

.sect-6{
    background-color: #f2f8f3;
    padding: 70px 0 30px 0;
}

.visit-cardify{
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    padding: 20px 0;
}

.cardifys{
    padding: 10px 0;
    display: flex;
    gap: 1em;
}

.cardifys-icon{
    background-color: white;
    padding: 16px;
    border-radius: 12px;
    width: 54px;
}

.visit-text span{
    color: #000000;
    font-size: 1em;
    font-weight: 500;
}
.visit-text p{
    font-size: .9em;
    color: #212529;
    margin-top:6px;
    margin-bottom: 6px;
}
.visit-text a{
    font-size: .9em;
    text-decoration: none;
    color: #303231;
    font-weight: 500;
}


/* SECT-6-MEDIA-QUERY */

@media(max-width: 1118px){
    .visit-cardify{
        width: 80%;
    }
}

@media(max-width: 950px){
    .sect-6{
        padding: 70px 10px;
    }
    .visit-cardify{
        width: 100%;
    }

    .cardifys-icon{
        padding: 14px;
        width:50px;
    }
}

@media(max-width: 770px){

    .visit-cardify{
        grid-template-columns: 2fr;
    }
}


/* SECT-7 */

.sect-7{
    /* border: 2px solid black; */
    background-color: #f2f8f3;
    padding: 30px 0 0 0;
}

.people-container{
    /* border: 2px solid red; */
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.people-left{
    /* border: 2px solid blue; */
    height: 350px;
    overflow: hidden;
}

.people-left img{
    max-width: 300px;
    transform: translateY(0%);
}
.people-right{
    /* border: 2px solid green; */
     max-width: 450px;
     position: relative;
}


.people-images img{
    width: 60px;
   height: 60px;
   border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
}
.pic-1{
    border: 3px solid white;
    border-radius: 50%;
    position: absolute;
}

.pic-2{
    border: 3px solid white;
    border-radius: 50%;
    position: absolute;
    left: 46px;
}

.pic-3{
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    left: 94px;
}

.pic-4{
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    left: 142px;
}

.pic-5{
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    left: 190px;
}

.people-text{
    margin-top: 70px;
    margin-bottom: 40px;
}

.people-text h2{
    font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  color: #000;
}

.people-links{
    display: flex;
    gap: 1rem;
}
.people-download{
    padding: 14px 0;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 400;
  border: 1px solid #ccc;
  color: black;
    width: 45%;
    display: flex;
    justify-content: center;
    gap: .6em;
    align-items: center;
}


/* SECT-7-MEDIA-QUERY */
@media(max-width: 1300px){
    .people-container{
        width: 70%;
    }
}

@media(max-width: 1020px){
    .people-container{
        width: 76%;
    }
}

@media(max-width: 970px){
    .people-container{
        width: 90%;
    }

    .people-text h2{
        font-size: 1.4rem;
    }
}

@media(max-width: 800px){
    .people-container{
        grid-template-columns: 1fr;
        justify-content: center;
        text-align: center;
    }

    .people-right{
        order: 1;
        max-width: 100%;
        margin-bottom: 60px;
    }

    .people-text h2{
        font-weight: 600;
    }

    .people-links{
        justify-content: center;
    }

    .people-download{
        max-width: 180px;
        padding: 14px 0;
        gap: .4em;
    }
    .pic-1{
        position: sticky;
        left: 158px;
    }
    .pic-2{
        position: sticky;
        left: 246px;
    }

    .pic-3{
        position: sticky;
        left: 334px;
    }

    .pic-4{
        position: sticky;
        left: 382px;
    }

    .pic-5{
        position: sticky;
        left: 430px;
    }

    .people-left{
        order: 2;
    }
}

@media(max-width: 720px){
    .pic-1{
        left: 180px;
    }
    .pic-2{
        left: 232px;
    }

    .pic-3{
        left: 280px;
    }

    .pic-4{
        left: 328px;
    }

    .pic-5{
        left: 376px;
    }
}

@media(max-width: 670px){
    .pic-1{
        left: 130px;
    }
    .pic-2{
        left: 182px;
    }

    .pic-3{
        left: 230px;
    }

    .pic-4{
        left: 278px;
    }

    .pic-5{
        left: 326px;
    }
}

@media(max-width: 600px){

    .people-text h2{
        font-size: 1.2rem;
    }
    
    .people-download{
        font-size: .8em;
        max-width: 160px;
    }
}

@media(max-width: 580px){
    .pic-1{
        left: 80px;
    }
    .pic-2{
        left: 132px;
    }

    .pic-3{
        left: 180px;
    }

    .pic-4{
        left: 228px;
    }

    .pic-5{
        left: 276px;
    }
}

@media(max-width: 475px){
    .pic-1{
        left: 30px;
    }
    .pic-2{
        left: 82px;
    }

    .pic-3{
        left: 130px;
    }

    .pic-4{
        left: 178px;
    }

    .pic-5{
        left: 226px;
    }
}

@media(max-width: 450px){

    .people-left{
        height: 310px;
    }
    .people-left img{
        max-width: 250px;
        transform: translateY(5%);
    }

    .people-right{
        margin-bottom: 10px;
    }
}
@media(max-width: 400px){
    .people-links{
        flex-direction: column;
        justify-content: center;
        border: 2px solid red;
        max-width: 160px;
        margin: auto;
        /* text-align: center; */
    }

    .people-download{
        width: 100%;
    }
}

@media(max-width: 375px){
    .people-images img{
        width: 50px;
        height: 50px;
    }
     .pic-1{
        left: -20px;
    }
    .pic-2{
        left: 32px;
    }

    .pic-3{
        left: 80px;
    }

    .pic-4{
        left: 128px;
    }

    .pic-5{
        left: 176px;
    }
}


/* FOOTER */
footer{
    padding: 20px 0;
    background-color: #f2f8f3;
}

.footer-wrap{
    width: 86%;
    margin: auto;
    background-color: #FFFFFF;
    /* height: 100vh; */
    padding: 10px 0 30px 0;
}

.footer-head{
    text-align: center;
    color: #000000;
    font-size: 2.2em;
    font-weight: 500;
    margin-bottom: 20px;
}

.footer-images{
    width: 80%;
    margin: auto;
     background-color: white;
      padding: 40px 20px;
      display: flex;
      justify-content: center;
}

.footer-image{
    display: grid;
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
      gap: 1em;
      align-items: center;
      justify-content: center;
      justify-items: center;
      text-align: center;
      max-width: 1000px;
      width: 100%;
}

.footer-image img{
    max-width: 100%;
      height: auto;
      object-fit: contain;
      max-height: 60px;
}

.footer-line1{
    border-top: thin solid #0A9600;
    width: 90%;
    margin: auto;
}

/* FOOTER-CONTENT */
.footer-content{
    width: 90%;
    margin: 60px auto 30px auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 30px;
}


.footer-brand{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.footer-links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.footer-products p, .footer-company p, .footer-legal p{
    color: #000000;
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 10px;
}

.footer-products li, .footer-company li, .footer-legal li{
    margin-bottom: 6px;
}
.footer-products li a, .footer-company li a, .footer-legal li a{
    text-decoration: none;
    color: #556473;
    font-size: 14px;
}


.footer-social{
    text-align: end;
}

.footer-icons{
    display: flex;
    justify-content: end;
    gap: 1em;
    margin-bottom: 10px;
}

.footer-icon{
    font-size: 1em;
    color: #3D4F60;
}

.linktree{
    color: #298000;
    font-size: .9em;
    text-decoration: none;
}

.support{
    color: #556473;
    text-decoration: none;
    font-size: .9em;
}

.cardi-afri{
    margin-top: 30px;
}
.africa{
    color: #556473;
    text-decoration: none;
    font-size: .9em;
}

.footer-line2{
    border-top: thin solid #dfdcdc;
    width: 90%;
    margin: auto;
}

/* FOOTER-INFO */
.footer-info{
    width: 86%;
    margin:60px auto 30px auto;
    display: grid;
    grid-template-columns: 1.6fr 1fr;
}

.footer-text{
    text-align: justify;
}
.footer-text p{
    font-size: .9em;
    color: #556473;
    margin-bottom: 20px;
}

.footer-text span{
    color: #36B274;
}
.footer-review{
    text-align: end;
}

.footer-stars{
    margin-bottom: 10px;
}
.footer-stars .fa-star{
    background-color: #10B259;
    padding: 8px 8px;
    font-size: .8em;
    color: white;
}

.footer-stars span .fa-star{
    background-color: #D9D9D9;
}

.footer-review p{
    font-size: .8em;
    font-weight: 550;
}

.footer-review p .fa-star{
    color: #10B259;
}
/* FOOTER-IMAGE-MEDIA-QUERY */

@media(max-width: 1050px){
   .footer-wrap{
    width: 92%;
   }

}

@media(max-width: 975px){
    .footer-wrap{
        width: 100%;
    }

    .footer-images{
        width: 94%;
    }
    .footer-line1{
        width: 94%;
    }
    .footer-content{
        width: 94%;
        grid-template-columns: 1fr;
    }
    .footer-brand{
        align-items: center;
        flex-direction: row;
    }
    .footer-social{
        text-align: start;
    }
    .footer-icons{
        justify-content: start;
    }
    .footer-line2{
        width: 94%;
    }
    .footer-info{
        width: 94%;
    }
    .footer-text p{
        font-size: .7em;
    }
}

@media(max-width: 765px){
    .footer-info{
        grid-template-columns: 1fr;
        gap:2em;
    }

    .footer-text p{
        font-size: .9em;
    }

    .footer-review{
        text-align: start;
    }
    .footer-stars .fa-star{
        padding: 10px;
        font-size: .9em;
    }
    .footer-review p{
        font-size: .9em;
    }
}
@media(max-width: 660px){
    .footer-links{
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 580px){
    .footer-brand{
        flex-direction: column;
    }
}
@media(max-width: 520px){
    .footer-company{
        text-align: center;
    }
}
