body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f1f7f4;
}

.cards-container {
  max-width: 80%;
  margin: 50px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 450px);
  justify-content: center;
  gap: 24px;
}

.card {
  border-radius: 16px;
  padding: 25px 25px 20px 10px;
  background-color: #fff;
  box-shadow: 0 3px 8px rgba(0,0,0,0.05);
  border: 2px solid red;
  max-height: 270px;
}

.text-card {
  background-color: #f1f7f4;
  box-shadow: none;
  padding: 30px;
}

.text-card h2 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #111;
}

.text-card p {
  font-size: 1rem;
  color: #333;
}

.green-card{
  background-color: #2ecc71;
  color: #fff;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.green-text {
  /* flex: 1 1 250px; */
}

.green-image img{
  max-width: 140px;
  border-radius: 12px;
  margin-top: 10px;
  border: 2px solid red;
  transform: translateY(20%);
}

.blue-card{
  color: #fff;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.blue-textone h2{
  color: #3296FF;
}

.card-links{
  margin-top: 25%;
}
.blue-textone a{
  color: #3296FF;
}
.blue-textone p{
  color: #333;
  /* font-size: .9em; */
}
.blue-imgone img, .pink-img img, .purple-img img, .blue-imgtwo img{
  max-width: 160px;
  border-radius: 12px;
  margin-top: 10px;
  /* border: 2px solid red; */
  opacity: 0;
  transform: translateX(60px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.blue-card:hover{
   transition: background-color 0.3s ease;
   background-color: #3296FF;
}

.blue-card:hover .blue-textone h2{
  color: #ffff;
}

.blue-card:hover .blue-textone a{
  color: #ffff;
}
.blue-card:hover .blue-textone p{
  color: #ffff;
}

.blue-card:hover .blue-imgone img{
   opacity: 1;
  transform: translateX(0) translateY(20%);
}


.pink-card{
  color: #fff;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.pink-text h2{
  color: #EB008B;
}

.card-links{
  margin-top: 25%;
}
.pink-text a {
  color: #EB008B;
}
.pink-text p{
  color: #333;
}
.pink-card:hover{
   transition: background-color 0.3s ease;
   background-color: #FF0083;
}

.pink-card:hover .pink-text h2{
  color: #fff;
}

.pink-card:hover .pink-text a{
  color: #fff;
}
.pink-card:hover .pink-text p{
  color: #ffff;
}

.pink-card:hover .pink-img img{
   opacity: 1;
  transform: translateX(0) translateY(20%);
}


.purple-card{
  color: #fff;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.purple-text h2{
  color: #7200F9;
}

.card-links{
  margin-top: 25%;
}
.purple-text a {
  color: #7200F9;
}
.purple-text p{
  color: #333;
}
.purple-card:hover{
   transition: background-color 0.3s ease;
   background-color: #7200F9;
}

.purple-card:hover .purple-text h2{
  color: #fff;
}

.purple-card:hover .purple-text a{
  color: #fff;
}
.purple-card:hover .purple-text p{
  color: #ffff;
}

.purple-card:hover .purple-img img{
   opacity: 1;
  transform: translateX(0) translateY(20%);
}

.blue-cardtwo{
  color: #fff;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.blue-text h2{
  color: #0055FF;
}

.card-links{
  margin-top: 25%;
}
.blue-text a {
  color: #0055FF;
}
.blue-text p{
  color: #333;
}
.blue-cardtwo:hover{
   transition: background-color 0.3s ease;
   background-color: #0055FF;
}

.blue-cardtwo:hover .blue-text h2{
  color: #fff;
}

.blue-cardtwo:hover .blue-text a{
  color: #fff;
}
.blue-cardtwo:hover .blue-text p{
  color: #ffff;
}

.blue-cardtwo:hover .blue-imgtwo img{
   opacity: 1;
  transform: translateX(0) translateY(20%);
}
.white-card a {
  text-decoration: none;
  display: block;
  margin: 8px 0;
  font-weight: 500;
}



@media (max-width: 954px) {
  .cards-container {
    max-width: 100%;
    border: 2px solid black;
    padding: 10px;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  }
}

@media(max-width: 380px){
  .cards-container{
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  }
}
