*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}


/* HEADER */

header{
    background-color: #ffff;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    z-index: 99999;
}

.nav-links{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 14px;
}

.menu-lists{
    display: flex;
    align-items: center;
    gap: 1em;
}

.menu-lists li a{
    text-decoration: none;
    color: #000000;
    font-size: 1em;
}

.btn-icons{
    display: flex;
    align-items: center;
    gap: 1em;
}

.signin{
    text-decoration: none;
    border: 1px solid #122231;
    color: #122231;
    font-size: 1em;
    font-weight: 400;
    padding: 12px 12px;
    border-radius: 10px;
}

.create{
    text-decoration: none;
    background-color: #122231;
    color: #FFFFFF;
    padding: 12px 14px;
    font-size: 1em;
    font-weight:500;
    border-radius: 10px;
}

.fa-bars{
    text-decoration: none;
    color: #122231;
    font-size: 1.6em;
    visibility: hidden;
}

.product, .company, .resources{
    position: relative;
}

.product-drop{
    position: absolute;
    left: -240px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 230px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    z-index: 999;
    padding: 10px 10px 10px 30px;
    visibility: hidden;
}

.product-drop li, .company-drop li, .resources-drop li{
    padding: 10px 10px 0 10px;
}
.product-drop li a span, .company-drop li a span, .resources-drop li a span{
    font-weight: 600;
}

.product-drop li p, .company-drop li p, .resources-drop li p{
    color: #2c2a2a;
    font-size: .8em;
}

.product-drop li:hover, .company-drop li:hover, .resources-drop li:hover{
    background-color: #F8F8F8;
}

.product:hover .product-drop{
    visibility: visible;
}

.company-drop{
    position: absolute;
    left: -200px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 230px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    z-index: 999;
    padding: 10px 10px 10px 30px;
    visibility: hidden;
}

.company:hover .company-drop{
    visibility: visible;
}

.resources-drop{
    position: absolute;
    left: -310px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 230px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    z-index: 999;
    padding: 10px 10px 10px 30px;
    visibility: hidden;
}

.resources:hover .resources-drop{
    visibility: visible;
}

/* HEADER MEDIA QUERY */

@media(max-width: 1167px){
    .nav-links{
        width: 100%;
        justify-content: space-between;
    }
}

@media(max-width: 966px){
    .nav-links{
        padding: 20px 26px;
    }
    .menu-lists{
        display: none;
    }

    .signin{
        display: none;
    }

    .create{
        display: none;
    }

    .fa-bars{
        visibility: visible;
    }
}


/* HERO-SECT */
.hero-sect{ 
    padding: 100px 0;
}

.hero{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.hero-sect h1{
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: #000000;
}

.check-faqs{
    width: 100%;
    padding: 12px 20px;
    border: 2px solid #EEF0F2; /* green border */
    border-radius: 6px;
    font-size: 1em;
    outline: none;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); */
}


/* HERO-MEDIA-QUERY */

@media(max-width: 1291px){
    .hero{
        width:60%;
    }
}
@media(max-width: 1000px){
    .hero{
        width: 80%;
    }

    .hero-sect h1{
        font-size: 1.6em;
        font-weight: 500;
    }

    .check-faqs{
        width: 100%;
        font-size: .8em;
    }
}

@media(max-width: 580px){
    .hero{
        width: 90%;
    }
}


/* SECT-2*/

.sect-2{
    background-color: #f2f8f3;
    padding: 60px 10px;
}

.about-cardify{
    width: 70%;
    padding: 10px;
    margin: auto;
    /* height: 60vh; */
}

.list-group{
    border: none;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 16px;
    height: 100%;
}
.list-group-item {
    color: #000000;
    border: none;
    border-radius: 4px !important; 
    margin-bottom: 10px;
    font-size: 1em;
    font-weight: 500;
    
}

.list-group-item:not(.active):hover{
    /* transition: background-color 0.2s ease; */
  background-color: #CFF0DE;
  color: #10B566;
}

.list-group-item.active {
      background-color: #00b14f;
      color: white;
      /* font-weight: bold; */
}

.tab-pane {
    padding-left: 10px;
}

.accordion{
    --bs-accordion-bg: none;
    --bs-accordion-active-color: #052C65;
    --bs-accordion-active-bg: none;
    --bs-accordion-btn-focus-box-shadow:none;
}

.accordion-item{
    margin-bottom: 10px;
}

.accordion-button{
    font-size: .6em;
    font-weight: 500;
    border-bottom: 1px solid #E8EDEC;
    color: #24282C;
}

.what{
    color: #000000;
    font-size: 1em;
    margin-bottom: 26px;
}

.wallet{
    color: #555F68;
    font-size: 14px;
}

.wallet-lists{
    font-size: .8em;
    list-style-type: disc;
    margin-bottom: 14px;
}

.wallet-lists span{
    font-weight: 500;
}

.what1{
    margin-top: 26px;
    color: #000000;
    font-size: 1em;
    margin-bottom: 26px;
}

.virtual-dollar{
    color: #000000;
    font-size: 1em;
    margin-bottom: 26px;
}

.dollar-lists{
    font-size: .9em;
    list-style-type: decimal;
    margin-bottom: 14px;
}

.dollar-lists span{
    font-weight: 500;
}
/* SECT-2-MEDIA-Query */
@media(max-width: 1290px){
    .about-cardify{
        width: 80%;
    }
}

@media(max-width: 1080px){
    .about-cardify{
        width: 90%;
    }
}

@media(max-width: 900px){
    .about-cardify{
        width: 98%;
    }
}

@media(max-width: 753px){
    .about-cardify{
        padding: 0;
    }

    .list-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
  }

   .list-group-item {
    text-align: center;
    border-radius: 8px;
    border: none;
    font-size: .6em;
    transition: background-color 0.3s ease;
  }
}

@media(max-width: 560px){
    .list-group{
        grid-template-columns: 1fr 1fr;
    }
}



/* SECT-3 */

.sect-3{
    background-color: #f2f8f3;
    padding: 70px 0;
}

.visit-cardify{
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    padding: 20px 0;
}

.cardifys{
    padding: 10px 0;
    display: flex;
    gap: 1em;
}

.cardifys-icon{
    background-color: white;
    padding: 16px;
    border-radius: 12px;
    width: 54px;
}

.visit-text span{
    color: #000000;
    font-size: 1em;
    font-weight: 500;
}
.visit-text p{
    font-size: .9em;
    color: #212529;
    margin-top:6px;
    margin-bottom: 6px;
}
.visit-text a{
    font-size: .9em;
    text-decoration: none;
    color: #303231;
    font-weight: 500;
}


/* SECT-3-MEDIA-QUERY */

@media(max-width: 1118px){
    .visit-cardify{
        width: 80%;
    }
}

@media(max-width: 950px){
    .sect-3{
        padding: 70px 10px;
    }
    .visit-cardify{
        width: 100%;
    }

    .cardifys-icon{
        padding: 14px;
        width:50px;
    }
}

@media(max-width: 770px){

    .visit-cardify{
        grid-template-columns: 2fr;
    }
}


/* SECT-4 */

.sect-4{
    border: 2px solid black;
    background-color: #f2f8f3;
    padding: 30px 0 0 0;
}

.people-container{
    /* border: 2px solid red; */
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.people-left{
    /* border: 2px solid blue; */
    height: 350px;
    overflow: hidden;
}

.people-left img{
    max-width: 300px;
    transform: translateY(0%);
}
.people-right{
    /* border: 2px solid green; */
     max-width: 450px;
}


.people-images img{
    width: 60px;
   height: 60px;
   border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
}

.pic-1{
    border: 3px solid white;
    border-radius: 50%;
    position: sticky;
}

.pic-2{
    border: 3px solid white;
    border-radius: 50%;
    position: sticky;
    left: 46px;
}

.pic-3{
    border: 2px solid white;
    border-radius: 50%;
    position: sticky;
    left: 94px;
}

.pic-4{
    border: 2px solid white;
    border-radius: 50%;
    position: sticky;
    left: 142px;
}

.pic-5{
    border: 2px solid white;
    border-radius: 50%;
    position: sticky;
    left: 190px;
}

.people-text{
    margin-top: 20px;
    margin-bottom: 40px;
}

.people-text h2{
    font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  color: #000;
}

.people-links{
    display: flex;
    gap: 1rem;
}
.people-download{
    padding: 14px 0;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 400;
  border: 1px solid #ccc;
  color: black;
    width: 45%;
    display: flex;
    justify-content: center;
    gap: .6em;
    align-items: center;
}


/* SECT-7-MEDIA-QUERY */
@media(max-width: 1300px){
    .people-container{
        width: 70%;
    }
}

@media(max-width: 1020px){
    .people-container{
        width: 76%;
    }
}

@media(max-width: 970px){
    .people-container{
        width: 90%;
    }

    .people-text h2{
        font-size: 1.4rem;
    }
}

@media(max-width: 800px){
    .people-container{
        grid-template-columns: 1fr;
        justify-content: center;
        text-align: center;
    }

    .people-right{
        order: 1;
        max-width: 100%;
        margin-bottom: 60px;
    }

    .pic-1{
        position: sticky;
        left: 158px;
    }
    .pic-2{
        position: sticky;
        left: 246px;
    }

    .pic-3{
        position: sticky;
        left: 334px;
    }

    .pic-4{
        position: sticky;
        left: 382px;
    }

    .pic-5{
        position: sticky;
        left: 430px;
    }
    .people-text h2{
        font-weight: 600;
    }

    .people-links{
        justify-content: center;
    }

    .people-download{
        max-width: 180px;
        padding: 14px 0;
        gap: .4em;
    }
    .people-left{
        order: 2;
    }
}

@media(max-width: 720px){
    .pic-1{
        left: 180px;
    }
    .pic-2{
        left: 232px;
    }

    .pic-3{
        left: 280px;
    }

    .pic-4{
        left: 328px;
    }

    .pic-5{
        left: 376px;
    }
}

@media(max-width: 670px){
    .pic-1{
        left: 130px;
    }
    .pic-2{
        left: 182px;
    }

    .pic-3{
        left: 230px;
    }

    .pic-4{
        left: 278px;
    }

    .pic-5{
        left: 326px;
    }
}

@media(max-width: 600px){

    .people-text h2{
        font-size: 1.2rem;
    }
    .people-images img{
        max-width: 50px;
        max-height: 50px;
    }

    .people-download{
        font-size: .8em;
        max-width: 160px;
    }
}

@media(max-width: 580px){
    .pic-1{
        left: 80px;
    }
    .pic-2{
        left: 132px;
    }

    .pic-3{
        left: 180px;
    }

    .pic-4{
        left: 228px;
    }

    .pic-5{
        left: 276px;
    }
}

@media(max-width: 475px){
    .pic-1{
        left: 30px;
    }
    .pic-2{
        left: 82px;
    }

    .pic-3{
        left: 130px;
    }

    .pic-4{
        left: 178px;
    }

    .pic-5{
        left: 226px;
    }
}

@media(max-width: 450px){

    .people-left{
        height: 310px;
    }
    .people-left img{
        max-width: 250px;
        transform: translateY(5%);
    }

    .people-right{
        margin-bottom: 10px;
    }
}
@media(max-width: 400px){
    .people-links{
        flex-direction: column;
        justify-content: center;
        border: 2px solid red;
        max-width: 160px;
        margin: auto;
        /* text-align: center; */
    }

    .people-download{
        width: 100%;
    }
}

@media(max-width: 375px){
    .people-images img{
        width: 50px;
        height: 50px;
    }
     .pic-1{
        left: -20px;
    }
    .pic-2{
        left: 32px;
    }

    .pic-3{
        left: 80px;
    }

    .pic-4{
        left: 128px;
    }

    .pic-5{
        left: 176px;
    }
}


/* FOOTER */
footer{
    border: 2px solid red;
    padding: 20px 0;
    background-color: #f2f8f3;
}

.footer-wrap{
    border: 2px solid blue;
    width: 86%;
    margin: auto;
    background-color: #FFFFFF;
    padding: 30px 0;
}

.footer-head{
    text-align: center;
    color: #000000;
    font-size: 2.2em;
    font-weight: 500;
    margin-bottom: 20px;
}

.footer-images{
    width: 80%;
    margin: auto;
     background-color: white;
      padding: 40px 20px;
      display: flex;
      justify-content: center;
}

.footer-image{
    display: grid;
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
      gap: 1em;
      align-items: center;
      justify-content: center;
      justify-items: center;
      text-align: center;
      max-width: 1000px;
      width: 100%;
}

.footer-image img{
    max-width: 100%;
      height: auto;
      object-fit: contain;
      max-height: 60px;
}

.footer-line1{
    border-top: thin solid #0A9600;
    width: 90%;
    margin: auto;
}

/* FOOTER-IMAGE-MEDIA-QUERY */

@media(max-width: 970px){
    .footer-wrap{
        width: 100%;
    }
    .footer-images{
        width: 80%
    }
}

@media(max-width: 550px){
    .footer-images{
        width: 88%;
    }
}