*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}


/* HEADER */

header{
    background-color: #0D60D8;
}

.nav-links{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 14px;
}

.menu-lists{
    display: flex;
    align-items: center;
    gap: 1em;
}

.menu-lists li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1em;
}

.btn-icons{
    display: flex;
    align-items: center;
    gap: 1em;
}

.signin{
    text-decoration: none;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 1em;
    font-weight: 400;
    padding: 12px 12px;
    border-radius: 10px;
}

.create{
    text-decoration: none;
    background-color: #FFFFFF;
    color: #122231;
    padding: 12px 14px;
    font-size: 1em;
    font-weight:600;
    border-radius: 10px;
}

.fa-bars{
    text-decoration: none;
    color: #122231;
    font-size: 1.6em;
    visibility: hidden;
}
/* HEADER MEDIA QUERY */

@media(max-width: 1167px){
    .nav-links{
        width: 100%;
        justify-content: space-between;
    }
}

@media(max-width: 966px){
    .nav-links{
        padding: 20px 26px;
    }
    .menu-lists{
        display: none;
    }

    .signin{
        display: none;
    }

    .create{
        display: none;
    }

    .fa-bars{
        visibility: visible;
    }
}

/* HERO-SECT */
.hero-sect{
    background-color: #0D60D8;
}
.hero{
    width: 86%;
    margin: 0 0 0 14%;
    display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0px 0px 0px;
  position: relative;
  overflow: hidden;
}

.hero-left{
    width: 37%;
  z-index: 2;
  color: #FFFFFF;
}

.hero-left h1{
    font-size: 3.2em;
  font-weight: 600;
  margin-bottom: 20px;
}

.hero-left p{
    font-size: 16px;
    font-weight: 450;
   margin: 20px 0;
}

.hero-flags{
    display: flex;
}

.hero-flag{
    background-color: white;
    display: flex;
    align-items: center;
    gap: .6em;
    padding: 6px 30px 6px 20px;
    border-radius: 20px;
}

.hero-flag span{
    font-size: 1.2em;
    color: #206CDB;
    font-weight: 400;
}

.download{
    display: flex;
    gap: 1em;
}

.download img{
    border-radius: 4px;
}
.hero-right{
  position: relative;
  width: 45%;
  height: 580px;
}

.phone-image{
    position: absolute;
  top: 55%;
  right: 36%;
  transform: translate(-2%,-37%);
  z-index: 2;
  max-width: 356px;
  height: auto;
}

.coin-whistle{
    position: absolute;
  bottom: 0;
  right: 0%;
  z-index: 1;
  width: 280px;
  opacity: 0.95;
}


/* HERO-SECT-MEDIA-QUERY */
@media(max-width: 1271px){
    .hero{
        width: 88%;
       margin: 0 0 0 12%;
    }
}

@media(max-width: 1200px){
    .hero{
        width: 92%;
        margin: 0 0 0 8%;
    }

    .phone-image{
        right: 30%;
    }
}

@media(max-width: 1166px){
    .hero{
        width: 100%;
        margin: 0 0 0 0;
        padding: 50px 0 0 20px;
    }
    .hero-left{
        width: 41%;
    }
    .phone-image{
        right: 10%;
    }
}

@media(max-width: 966px){
    .hero{
        flex-direction: column;
        text-align: center;
        padding: 50px 10px 0 10px;
    }

    .hero-left{
        width: 80%;
    }

    .hero-flags{
        justify-content: center;
    }

    .download{
        justify-content: center;
    }
    .hero-right{
        width: 80%;
        margin: 0 auto;
    }
    .phone-image{
        transform: translateY(-34%);
        right: 24%;
        max-width: 340px;
        
    }

    .coin-whistle{
        width: 240px;
        
    }
}

@media(max-width: 667px){
    .hero-left{
        width: 94%;
    }

    .hero-left h1{
        font-size: 2.4em;
    }

    .download img{
        width: 130px;
    }
    .hero-right{
        width: 100%;
    }

    .phone-image{
        max-width: 300px;
        transform: translateY(-30%);
        right: 16%;
    }
}

@media(max-width: 470px){
    .phone-image{
        max-width: 280px;
        right: 10%;
    }
}

@media(max-width: 400px){
    .phone-image{
        max-width: 260px;
        right: 8%;
    }
}



/* SECT-2 */

.sect-2{
    background-color: #F2F8F3;
    padding: 40px 0;
}

.pay-bills{
    width: 70%;
    margin: auto;
}

.bills-text{
    margin-bottom: 30px;
}
.pay-bills h1{
    font-size: 2.4em;
    font-weight: 550;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
}

.bills-para{
    width: 46%;
    margin: auto;
    font-size: 1em;
    text-align: center;
}

.bill-cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1em;
    justify-content: center;
}
.bill-card{
    background: white;
    width: 100%;
    border-radius: 16px;
    padding: 30px 20px 10px 20px ;
    height: 540px;
    overflow: hidden;
}

.bill-card h2{
    font-size: 2.2em;
  font-weight: 500;
  color: #0D60D8;
  margin-bottom: 16px;
}

.bill-card p{
    font-size: 14px;
    margin-bottom: 30px;
}

.top-up{
    background-color: #DFFFE8;
    padding: 14px 14px 8px 14px;
    color: #0D60d8;
    border-radius: 10px;
     
}
.top{
    text-align: center;
}
.top-up span{
    font-weight: 600;
}
.purchase{
    margin-top: 10px;
    display: flex;
    gap: 1em;
}

.purchase p{
    font-size: 13px;
}

.fa-basket-shopping{
    background-color: b5fde5;
}

.phone-frame1 {
  width: 250px;
  height: 100%;
  border-radius: 30px;
  transform: scale(1.05) translateY(10%);
  margin: auto;
}

.phone-frame1 img {
  width: 100%;
  height: 100%;
  display: block;
  transform: scale(1.05); 
}

.phone-frame2 {
  width: 250px;
  height: 100%;
  border-radius: 30px;
  transform: scale(1.05) translateY(14%);
  margin: auto;
}

.phone-frame2 img {
  width: 100%;
  height: 100%;
  display: block;
  transform: scale(1.05); 
}


/* SECT-2-MEDIA-QUERY */
@media(max-width: 1400px){
    .bill-card{
        height: 580px;
        padding: 30px 10px 10px 20px;
    }
    .bills-text{
        margin-bottom: 60px;
    }
    .phone-frame1, .phone-frame2{
        transform: scale(1.05) translateY(6%);
    }
}
@media(max-width: 1370px){
    .purchase{
        gap: .4em;
    }
    .phone-frame1, .phone-frame2{
        width: 240px;
    }

}

@media(max-width: 1335px){
    .pay-bills{
        width: 76%;
    }

    .bills-para{
        width: 44%;
    }
    .bill-cards{
        grid-template-columns: 320px 320px 320px;
    }

    .bill-card{
        height: 490px;
    }

    .purchase{
        gap: .2em;
    }
    .phone-frame1, .phone-frame2{
        width: 220px;
        height: auto;
    }
}

@media(max-width: 1200px){
    .pay-bills{
        width: 96%;
    }
    .bills-para{
        width: 66%;
    }
    .bill-cards{
        grid-template-columns: repeat(3, 340px);
    }

    .purchase{
        gap: .4em;
    }
}

@media(max-width: 1100px){
    .bill-cards{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .purchase{
        gap: .4em;
    }
}

@media(max-width: 977px){
    .bills-para{
        width: 78%;
    }
    .bill-cards{
        width: 94%;
        margin: auto;
    }
    .bill-card{ 
        border: 2px solid yellow;
        height: 500px;
    }

    .purchase{
        gap: .4em;
    }
    .phone-frame1, .phone-frame2{
        height: auto;
        width: 250px;
    }

}

@media(max-width: 768px){
    .bills-text h1{
        font-size: 2.2em;
    }
    .bills-para{
        width: 94%;
    }
    .bill-cards{
        width: 70%;
        margin: auto;
        grid-template-columns: repeat(1fr);
    }

    .bill-card{
        height: 500px;
    }

    .purchase{
        gap: .4em;
    }
    .phone-frame1, .phone-frame2{
        width: 300px;
        height: auto;
    }
}

@media(max-width: 575px){

   .bills-text h1{
        font-size: 2.1em;
    } 
    .bill-cards{
        width: 100%;
    }

    .bill-card{
        padding: 30px 0px 10px 4px;
    }
    .purchase{
        gap: .2em;
    }
    .phone-frame1, .phone-frame2{
        width: 230px;
    }
}


/* SECT-3 */

.sect-3{
    background-color: #0D60D8;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.client-text{
    width: 30%;
    height: auto;
    margin: 50px auto;
}

.client-text h2{
    width: 70%;
    margin-bottom: 40px;
    color: #FFFFFF;
    font-size: 2.6em;
    font-weight: 550;
}

.client-text p{
    color: #FFFFFF;
    font-size: 1em;
}
.client{
    width: 40%;
}
.client img{
    max-width: 100%;
    height: 100%;
}

/* SECT-2-MEDIA-QUERY */

@media(max-width: 1200px){
    .client-text{
        width: 52%;
        margin: 50px 40px;
    }

    .client-text h2{
        width: 100%;
    }

    .client{
        max-width: 36%;
    }
}

@media(max-width: 1044px){
    .client-text{
        margin: 50px 30px;
    }
}

@media(max-width: 1012px){
    .client-text{
        width: 56%;
    }
}

@media(max-width: 990px){
    .sect-3{
        padding: 40px 0 60px 0;
        flex-direction: column;
        align-items: center;
    }

    .client-text{
        width: 70%;
        margin: 50px auto;
        text-align: center;
    }

    .client-text h2{
        font-size: 2.2em;
    }
    .client{
        width: 600px;
        max-width: 90%;
        margin: 0 auto;
    }

    .client img{
        /* width: 100%;  */
        max-width: 100%;
        height: auto;
        border-radius: 16px;
    }
}


@media(max-width: 830px){
    .client{
        width: 550px;
        max-width: 90%;
    }
}

@media(max-width: 756px){
    .client-text{
        width: 90%;
    }

    .client{
        width: 650px;
    }
}


/* SECT-4 */

.sect-4{
    padding: 60px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sect-4 h1{
    font-size: 2.6em;
    font-weight: 600;
    color: #000000;
    width: 42%;
    text-align: center;
    margin-bottom: 50px;
}

.yemisi iframe{
    border-radius: 20px;
}

/* SECT-4-MEDIA-QUERY */

@media(max-width: 1200px){

    .sect-4 h1{
        width: 50%;
    }
    .yemisi iframe{
        width: 800px;
    }
}

@media(max-width: 990px){

    .sect-4 h1{
        width: 80%;
        font-size: 2em;
        font-weight: 550;
    }
    .yemisi{
        width: 900px;
        max-width: 90%;
        height: 460px;
    }
    .yemisi iframe{
        width: 100%;
        height: 100%;
    }
}

@media(max-width: 500px){

    .sect-4 h1{
        width: 90%;
        font-size: 1.8em;
    }
}

/* SECT-5 */

.sect-5{
    background-color: #f2f8f3;
    padding: 70px 0;
}

.visit-cardify{
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    padding: 20px 0;
}

.cardifys{
    padding: 10px 0;
    display: flex;
    gap: 1em;
}

.cardifys-icon{
    background-color: white;
    padding: 16px;
    border-radius: 12px;
    width: 54px;
}

.visit-text span{
    color: #000000;
    font-size: 1em;
    font-weight: 500;
}
.visit-text p{
    font-size: .9em;
    color: #212529;
    margin-top:6px;
    margin-bottom: 6px;
}
.visit-text a{
    font-size: .9em;
    text-decoration: none;
    color: #303231;
    font-weight: 500;
}


/* SECT-5-MEDIA-QUERY */

@media(max-width: 1118px){
    .visit-cardify{
        width: 80%;
    }
}

@media(max-width: 950px){
    .sect-5{
        padding: 70px 10px;
    }
    .visit-cardify{
        width: 100%;
    }

    .cardifys-icon{
        padding: 14px;
        width:50px;
    }
}

@media(max-width: 770px){

    .visit-cardify{
        grid-template-columns: 2fr;
    }
}


/* SECT-6 */

.sect-6{
    border: 2px solid black;
    background-color: #f2f8f3;
    padding: 30px 0 0 0;
}

.people-container{
    /* border: 2px solid red; */
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.people-left{
    /* border: 2px solid blue; */
    height: 350px;
    overflow: hidden;
}

.people-left img{
    max-width: 300px;
    transform: translateY(0%);
}
.people-right{
    /* border: 2px solid green; */
     max-width: 450px;
}


.people-images img{
    width: 60px;
   height: 60px;
   border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
}

.pice-1{
    border: 3px solid white;
    border-radius: 50%;
    position: sticky;
    /* top: 30px; */
}

.pice-2{
    border: 3px solid white;
    border-radius: 50%;
    position: sticky;
    left: 48px;
}

.pice-3{
    border: 2px solid white;
    border-radius: 50%;
    position: sticky;
    left: 94px;
}

.pice-4{
    border: 2px solid white;
    border-radius: 50%;
    position: sticky;
    left: 142px;
}

.pice-5{
    border: 2px solid white;
    border-radius: 50%;
    position: sticky;
    left: 190px;
}

.people-text{
    margin-top: 20px;
    margin-bottom: 40px;
}

.people-text h2{
    font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  color: #000;
}

.people-links{
    display: flex;
    gap: 1rem;
}
.people-download{
    padding: 14px 0;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 400;
  border: 1px solid #ccc;
  color: black;
    width: 45%;
    display: flex;
    justify-content: center;
    gap: .6em;
    align-items: center;
}


/* SECT-6-MEDIA-QUERY */
@media(max-width: 1300px){
    .people-container{
        width: 70%;
    }
}

@media(max-width: 1020px){
    .people-container{
        width: 76%;
    }
}

@media(max-width: 970px){
    .people-container{
        width: 90%;
    }

    .people-text h2{
        font-size: 1.4rem;
    }
}

@media(max-width: 800px){
    .people-container{
        grid-template-columns: 1fr;
        justify-content: center;
        text-align: center;
    }

    .people-right{
        order: 1;
        max-width: 100%;
        margin-bottom: 60px;
    }

    .pic-1{
        position: sticky;
        left: 158px;
    }
    .pic-2{
        position: sticky;
        left: 246px;
    }

    .pic-3{
        position: sticky;
        left: 334px;
    }

    .pic-4{
        position: sticky;
        left: 382px;
    }

    .pic-5{
        position: sticky;
        left: 430px;
    }
    .people-text h2{
        font-weight: 600;
    }

    .people-links{
        justify-content: center;
    }

    .people-download{
        max-width: 180px;
        padding: 14px 0;
        gap: .4em;
    }
    .people-left{
        order: 2;
    }
}

@media(max-width: 720px){
    .pic-1{
        left: 180px;
    }
    .pic-2{
        left: 232px;
    }

    .pic-3{
        left: 280px;
    }

    .pic-4{
        left: 328px;
    }

    .pic-5{
        left: 376px;
    }
}

@media(max-width: 670px){
    .pic-1{
        left: 130px;
    }
    .pic-2{
        left: 182px;
    }

    .pic-3{
        left: 230px;
    }

    .pic-4{
        left: 278px;
    }

    .pic-5{
        left: 326px;
    }
}

@media(max-width: 600px){

    .people-text h2{
        font-size: 1.2rem;
    }
    .people-images img{
        max-width: 50px;
        max-height: 50px;
    }

    .people-download{
        font-size: .8em;
        max-width: 160px;
    }
}

@media(max-width: 580px){
    .pic-1{
        left: 80px;
    }
    .pic-2{
        left: 132px;
    }

    .pic-3{
        left: 180px;
    }

    .pic-4{
        left: 228px;
    }

    .pic-5{
        left: 276px;
    }
}

@media(max-width: 475px){
    .pic-1{
        left: 30px;
    }
    .pic-2{
        left: 82px;
    }

    .pic-3{
        left: 130px;
    }

    .pic-4{
        left: 178px;
    }

    .pic-5{
        left: 226px;
    }
}

@media(max-width: 450px){

    .people-left{
        height: 310px;
    }
    .people-left img{
        max-width: 250px;
        transform: translateY(5%);
    }

    .people-right{
        margin-bottom: 10px;
    }
}
@media(max-width: 400px){
    .people-links{
        flex-direction: column;
        justify-content: center;
        border: 2px solid red;
        max-width: 160px;
        margin: auto;
        /* text-align: center; */
    }

    .people-download{
        width: 100%;
    }
}

@media(max-width: 375px){
    .people-images img{
        width: 50px;
        height: 50px;
    }
     .pic-1{
        left: -20px;
    }
    .pic-2{
        left: 32px;
    }

    .pic-3{
        left: 80px;
    }

    .pic-4{
        left: 128px;
    }

    .pic-5{
        left: 176px;
    }
}

/* FOOTER */
footer{
    border: 2px solid red;
    padding: 20px 0;
    background-color: #f2f8f3;
}

.footer-wrap{
    border: 2px solid blue;
    width: 86%;
    margin: auto;
    background-color: #FFFFFF;
    padding: 30px 0;
}

.footer-head{
    text-align: center;
    color: #000000;
    font-size: 2.2em;
    font-weight: 500;
    margin-bottom: 20px;
}

.footer-images{
    width: 80%;
    margin: auto;
     background-color: white;
      padding: 40px 20px;
      display: flex;
      justify-content: center;
}

.footer-image{
    display: grid;
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
      gap: 1em;
      align-items: center;
      justify-content: center;
      justify-items: center;
      text-align: center;
      max-width: 1000px;
      width: 100%;
}

.footer-image img{
    max-width: 100%;
      height: auto;
      object-fit: contain;
      max-height: 60px;
}

.footer-line1{
    border-top: thin solid #0A9600;
    width: 50%;
    margin: auto;
}

/* FOOTER-IMAGE-MEDIA-QUERY */

@media(max-width: 970px){
    .footer-wrap{
        width: 100%;
    }
    .footer-images{
        width: 80%
    }
}

@media(max-width: 550px){
    .footer-images{
        width: 88%;
    }
}
