*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}


/* HEADER */

header{
    background-color: #0D60D8;
}

.nav-links{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 14px;
}

.menu-lists{
    display: flex;
    align-items: center;
    gap: 1em;
}

.menu-lists li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1em;
}

.btn-icons{
    display: flex;
    align-items: center;
    gap: 1em;
}

.signin{
    text-decoration: none;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 1em;
    font-weight: 400;
    padding: 12px 12px;
    border-radius: 10px;
}

.create{
    text-decoration: none;
    background-color: #FFFFFF;
    color: #122231;
    padding: 12px 14px;
    font-size: 1em;
    font-weight:600;
    border-radius: 10px;
}

.fa-bars{
    text-decoration: none;
    color: #122231;
    font-size: 1.6em;
    visibility: hidden;
}
/* HEADER MEDIA QUERY */

@media(max-width: 1167px){
    .nav-links{
        width: 100%;
        justify-content: space-between;
    }
}

@media(max-width: 966px){
    .nav-links{
        padding: 20px 26px;
    }
    .menu-lists{
        display: none;
    }

    .signin{
        display: none;
    }

    .create{
        display: none;
    }

    .fa-bars{
        visibility: visible;
    }
}

/* HERO-SECT */
.hero-sect{
    background-color: #0D60D8;
}
.hero{
    border: 2px solid black;
    width: 86%;
    margin: 0 0 0 14%;
    display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0px 0px 0px;
  position: relative;
  overflow: hidden;
}

.hero-left{
    width: 37%;
  z-index: 2;
  color: #FFFFFF;
}

.hero-left h1{
    font-size: 3.2em;
  font-weight: 600;
  margin-bottom: 20px;
}

.hero-left p{
    font-size: 16px;
    font-weight: 450;
   margin: 20px 0;
}

.hero-flags{
    display: flex;
}

.hero-flag{
    background-color: white;
    display: flex;
    align-items: center;
    gap: .6em;
    padding: 6px 30px 6px 20px;
    border-radius: 20px;
}

.hero-flag span{
    font-size: 1.2em;
    color: #206CDB;
    font-weight: 400;
}

.download{
    display: flex;
    gap: 1em;
}

.download img{
    border-radius: 4px;
}
.hero-right{
  position: relative;
  width: 45%;
  height: 580px;
}

.phone-image{
    position: absolute;
  top: 55%;
  right: 36%;
  transform: translate(-2%,-37%);
  z-index: 2;
  max-width: 356px;
  height: auto;
}

.coin-whistle{
    position: absolute;
  bottom: 0;
  right: 0%;
  z-index: 1;
  width: 280px;
  opacity: 0.95;
}


/* HERO-SECT-MEDIA-QUERY */
@media(max-width: 1271px){
    .hero{
        width: 88%;
       margin: 0 0 0 12%;
    }
}

@media(max-width: 1200px){
    .hero{
        width: 92%;
        margin: 0 0 0 8%;
    }

    .phone-image{
        right: 30%;
    }
}

@media(max-width: 1166px){
    .hero{
        width: 100%;
        margin: 0 0 0 0;
        padding: 50px 0 0 20px;
    }
    .hero-left{
        width: 41%;
    }
    .phone-image{
        right: 10%;
    }
}

@media(max-width: 966px){
    .hero{
        flex-direction: column;
        text-align: center;
        padding: 50px 10px 0 10px;
    }

    .hero-left{
        width: 80%;
    }

    .hero-flags{
        justify-content: center;
    }

    .download{
        justify-content: center;
    }
    .hero-right{
        width: 80%;
        margin: 0 auto;
    }
    .phone-image{
        transform: translateY(-34%);
        right: 24%;
        max-width: 340px;
        
    }

    .coin-whistle{
        width: 240px;
        
    }
}

@media(max-width: 667px){
    .hero-left{
        width: 94%;
    }

    .hero-left h1{
        font-size: 2.4em;
    }

    .download img{
        width: 130px;
    }
    .hero-right{
        width: 100%;
    }

    .phone-image{
        max-width: 300px;
        transform: translateY(-30%);
        right: 16%;
    }
}

@media(max-width: 470px){
    .phone-image{
        max-width: 280px;
        right: 10%;
    }
}

@media(max-width: 400px){
    .phone-image{
        max-width: 260px;
        right: 8%;
    }
}



/* SECT-2 */

.sect-2{
    background-color: #F2F8F3;
    padding: 40px 0;
}

.pay-bills{
    border: 2px solid red;
    width: 70%;
    margin: auto;
}

.bills-text{
    margin-bottom: 30px;
}
.pay-bills h1{
    font-size: 2.4em;
    font-weight: 550;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
}

.bills-para{
    width: 46%;
    margin: auto;
    font-size: 1em;
    text-align: center;
}

.bill-cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1em;
    justify-content: center;
}
.bill-card{
    background: white;
    width: 100%;
    border-radius: 16px;
    padding: 30px 20px 10px 20px ;
    height: 540px;
    overflow: hidden;
}

.bill-card h2{
    font-size: 2.2em;
  font-weight: 500;
  color: #0D60D8;
  margin-bottom: 16px;
}

.bill-card p{
    font-size: 14px;
    margin-bottom: 30px;
}

.top-up{
    background-color: #DFFFE8;
    padding: 14px 14px 8px 14px;
    color: #0D60d8;
    border-radius: 10px;
     
}
.top{
    text-align: center;
}
.top-up span{
    font-weight: 600;
}
.purchase{
    margin-top: 10px;
    display: flex;
    gap: 1em;
}

.purchase p{
    font-size: 13px;
}

.fa-basket-shopping{
    background-color: b5fde5;
}

.phone-frame1 {
  width: 250px;
  height: 100%;
  border-radius: 30px;
  transform: scale(1.05) translateY(10%);
  margin: auto;
}

.phone-frame1 img {
  width: 100%;
  height: 100%;
  display: block;
  transform: scale(1.05); 
}

.phone-frame2 {
  width: 250px;
  height: 100%;
  border-radius: 30px;
  transform: scale(1.05) translateY(14%);
  margin: auto;
}

.phone-frame2 img {
  width: 100%;
  height: 100%;
  display: block;
  transform: scale(1.05); 
}


/* SECT-2-MEDIA-QUERY */
@media(max-width: 1400px){
    .bill-card{
        height: 580px;
        padding: 30px 10px 10px 20px;
    }
    .bills-text{
        margin-bottom: 60px;
    }
    .phone-frame1, .phone-frame2{
        transform: scale(1.05) translateY(6%);
    }
}
@media(max-width: 1370px){
    .purchase{
        gap: .4em;
    }
    .phone-frame1, .phone-frame2{
        width: 240px;
    }

}

@media(max-width: 1335px){
    .pay-bills{
        width: 76%;
    }

    .bills-para{
        width: 44%;
    }
    .bill-cards{
        grid-template-columns: 320px 320px 320px;
    }

    .bill-card{
        height: 490px;
    }

    .purchase{
        gap: .2em;
    }
    .phone-frame1, .phone-frame2{
        width: 220px;
        height: auto;
    }
}

@media(max-width: 1200px){
    .pay-bills{
        width: 96%;
    }
    .bills-para{
        width: 66%;
    }
    .bill-cards{
        grid-template-columns: repeat(3, 340px);
    }

    .purchase{
        gap: .4em;
    }
}

@media(max-width: 1100px){
    .bill-cards{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .purchase{
        gap: .4em;
    }
}

@media(max-width: 977px){
    .bills-para{
        width: 78%;
    }
    .bill-cards{
        width: 94%;
        margin: auto;
    }
    .bill-card{ 
        border: 2px solid yellow;
        height: 500px;
    }

    .purchase{
        gap: .4em;
    }
    .phone-frame1, .phone-frame2{
        height: auto;
        width: 250px;
    }

}

@media(max-width: 768px){
    .bills-text h1{
        font-size: 2.2em;
    }
    .bills-para{
        width: 94%;
    }
    .bill-cards{
        width: 70%;
        margin: auto;
        grid-template-columns: repeat(1fr);
    }

    .bill-card{
        height: 500px;
    }

    .purchase{
        gap: .4em;
    }
    .phone-frame1, .phone-frame2{
        width: 300px;
        height: auto;
    }
}

@media(max-width: 575px){

   .bills-text h1{
        font-size: 2.1em;
    } 
    .bill-cards{
        width: 100%;
    }

    .bill-card{
        padding: 30px 0px 10px 4px;
    }
    .purchase{
        gap: .2em;
    }
    .phone-frame1, .phone-frame2{
        width: 230px;
    }
}